.about{
  font-size: 22px;
  color: blue;
  font-weight: bold;
}

.maintext{
  font-family: cursive;
  font-weight: lighter;
}

.entry{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid;
  background: grey;
  padding: 2px 6px 2px 6px;
}
